<h4 class="ion-margin-horizontal">Pace</h4>

<ion-list [inset]="true">
  <ion-item button detail="true" id="paceSelectModal">
    <ion-label>pace</ion-label>
    <ion-label slot="end">{{ pace }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-select
      label="units"
      aria-label="Pace Units"
      value="min/mi"
      (ionChange)="onUnitsSelect($event)"
    >
      <ion-select-option value="min/mi">min/mi</ion-select-option>
      <ion-select-option value="min/km">min/km</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-note color="medium" class="ion-margin-horizontal"
  >Percentages to select</ion-note
>

<ion-list [inset]="true">
  @for (percentage of trainingPercentages; track percentage) {
  <ion-item>
    <ion-toggle> {{ percentage }} </ion-toggle>
  </ion-item>
  }
</ion-list>

<app-pace-picker
  modalTrigger="paceSelectModal"
  (paceValue)="onPaceChange($event)"
></app-pace-picker>

<ion-button class="ion-margin" [disabled]="!paceSet">Calculate</ion-button>
