website/.pnp.*
website/.yarn/*
!website/.yarn/releases

website/node_modules

website/.next

# terraform
terraform/dev/.terraform/*
terraform/dev/*.tfstate
terraform/dev/*.tfstate.*
terraform/dev/terraform.tfvars
terraform/prod/.terraform/*
terraform/prod/*.tfstate
terraform/prod/*.tfstate.*
terraform/prod/terraform.tfvars

.DS_Store