website/.pnp.*
website/.yarn/*
!website/.yarn/releases

website/node_modules

website/.next

# terraform
terraform/.terraform/*
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars

.DS_Store