<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="bar-chart-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="daily-vitals" href="/tabs/daily-vitals">
      <ion-icon aria-hidden="true" name="pulse-outline"></ion-icon>
      <ion-label>Daily Vitals</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pace-calculator" href="/tabs/pace-calculator">
      <ion-icon aria-hidden="true" name="calculator-outline"></ion-icon>
      <ion-label>Pace Calculator</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
